body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  color:rgb(255, 225, 0);
  background-image: linear-gradient(to right, blue, green);
  padding:1vh;
  display: flex;
  justify-content: space-between;
}

h1{
  text-decoration: underline;
  font-family:fantasy;
  margin-top:20px;
  rotate: -15deg;
  font-style:oblique;
  text-shadow: red 2px 2px 5px;
}

/* img fitting in the left hand side in the nav bar */
#img{
  width:auto;
  height:auto;
  max-height: 110px;
  max-width:250px;
  display: inline-block;
}

#location, #datepicker1, #datepicker2 {
  width:10vw;
  margin-right:2px;
  background-color: rgba(219, 223, 227, 0.541);
  color:black;
  font-size:1.4vw;
  border-radius: 2px;
  margin-right: 5px; 
  padding-left:5px;
  height:36px;
}

#date {
  margin-left:5px;
}

#search-btn {
  font-size:1.4vw;
}

#search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* align-items: center; */
  margin:10px;  
}

#result {
    display:flex;
    margin-top:20px;
}

.event-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

#events-list {
    margin:0 20px 0 10px;    
    background-image: linear-gradient(to left, rgb(144, 201, 87), rgb(243, 192, 255));
    width: fit-content;
    height: fit-content;
    padding: 7px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 95, 0.55);;
    min-height: 10vh;
    font-size: 1.4vw;

}

#event-details {
  padding: 5px 0px 2px 15px;
  
}

.event-name {
  /* flex-grow: 1; */
  width:30vw;
}

.event-date,
.event-time {
 /* margin-left: 1rem; */
width:10vw;
display: flex;
justify-content: right; 
    /* margin-top: 20px;   */
}

.event-item{
  display: flex;
  justify-content: space-between;
  padding: 2px;

}

.event-item:hover{
  background-color: rgba(82, 4, 82, 0.345);
  color:white;
  border-radius: 2px;
}



h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5vw;
}


.weather-info {
  font-size: 1.3vw;
}

.adition-info {
  font-size: 1.4vw;
}

.footer{
  margin-top:auto;
  bottom:0;
  width:100%;
  height:60px;
}