body{
  display:flex;
  flex-direction: column;
  min-height:100vh;
}
#search-history {
  display: none;
}
.nav{
justify-content: space-between;
}

main{
  flex-grow:1;
}

/* overwriting bulma class property */
#img{
  width:50vw;
  max-height: 15rem;
  object-fit: cover;
  display: inline-block;
  position: relative;
  left: 20vw;
}

#contact {
  height:fit-content;
  width: fit-content;
  font-size: 1.5vw;
  font-weight: bold;
  position: absolute;
  bottom:0;
  right:0;
}

#search-btn {
  margin-left:20px;
  width:100px;
  border:none;
  outline:none;
  color: #fff;
  background-color:#111;
  cursor:pointer;
  position:relative;
  z-index:0;
  border-radius:10px;
  height:40px
}

/* gives the button the gradient look in the back ground */
#search-btn:before{
  content:'';
  background:linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: 20s linear infinite;
  opacity: 0;
  transition: .3s ease-in-out;
  border-radius: 10px;

}

#search-btn:active {
  color: #000
}

#search-btn:active:after {
  background: transparent;
}

#search-btn:hover:before {
  opacity: 1;
}

#search-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.input{
  width:350px;
  border-radius:30px
}


#searchcontiner {
  margin-left: 20vw;
}


#search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* align-items: center; */
  margin:10px;    
}

.contain{
  margin: 0 20px;
  justify-content: center;
}


#result {
    display:flex;
    margin-top:20px;
}

.event-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

#events-list {
    margin:0 20px 0 10px;    
    background-image: linear-gradient(to left, rgb(144, 201, 87), rgb(243, 192, 255));
    width: fit-content;
    height: fit-content;
    padding: 7px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 95, 0.55);;
    min-height: 10vh;
    font-size: 1.4vw;
    font-family: 'montserrat',sans-serif

}

#event-details {
  padding: 5px 0px 2px 15px;
  
}

.event-name {
  /* flex-grow: 1; */
  width:30vw;
}


.event-date,
.event-time {
 /* margin-left: 1rem; */
display: flex;
justify-content: right; 
    /* margin-top: 20px;   */
}

h2{
  font-size: 1.5vw;
  font-weight: bold;
}
.event-item{
  display: flex;
  justify-content: space-between;
  padding: 2px;
  font-size: 1vw;

}

.event-item:hover{
  background-color: rgba(82, 4, 82, 0.345);
  color:white;
  border-radius: 2px;
}


.weather-info {
  font-size: 1.3vw;
}

.adition-info {
  font-size: 1.4vw;
}

.footeroverwrite{
  font-size: 1vw;
  margin-top:auto;
  position:relative;
  bottom:0px;
  width:100%;
  height:fit-content;
  
}

.search-history-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 150px; /* Adjust as needed */
  overflow-y: auto;
  background-color: #f8f8f8; /* Change this to any color you want */
  border-top: 1px solid #ccc; /* Add a border at the top of the box */
  padding: 10px;
  box-sizing: border-box;
}

.search-history-item {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ccc; /* Add a border at the bottom of each item */
  box-sizing: border-box;
}

#error-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#error-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
